
#{$app-prefix}-login-page-wrapper{
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
  #{$app-prefix}-login-page-container{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    #{$app-prefix}-login-logo-wrapper{
      text-align: center;
      // margin-top: 54px;
      margin-bottom: 80px;
      >img{
        max-width: 271px;
      }
    }
    #{$app-prefix}-login-area{
      max-width: 1200px;
      #{$app-prefix}-login-card{
        border: none !important;
        /* flex-direction: row;
         align-items: center;*/
        .atni-login-img-wrapper{
           position: relative;
          .atni-mmg-logo{
              position: absolute;
              left: 40px;
              top: 40px;
          }
        }

        #{$app-prefix}-login-form-wrapper {
          background-color: $bg-gray;
          border: 1px solid $white-1;
          height: 100%;
          display: flex;
          align-items: center;
          #{$app-prefix}-login-form-contain{
            width: 100%;
            max-width: 394px;
            margin: auto;
            .card-title{
              @include inter-font-semiBold;
              @include typography-title;
              color: $grey-2;
              margin-bottom: 8px;
            }
            .description{
              @include inter-font-medium;
              @include typography-regular;
              color: $grey-3;
            }
            .atni-primary{
              width:100%;
              margin-top: 25px;
              height: 38px;
            }
          }
        }
      }
    }
  }
 }




